# --- ASP.NET Core / Visual Studio ---
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
out/
# EF Core Migration logları ve geçici dosyalar
*.log
.dbmdl

# --- Next.js / Node.js ---
node_modules/
.next/
out/
build/
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Next.js ve TS özel dosyaları
.turbo
*.tsbuildinfo
next-env.d.ts

# --- Database / OS ---
*.mdf
*.ldf
*.sqlite
*.db
.DS_Store
Thumbs.db

# --- IDE (VS Code vb.) ---
.vscode/
.idea/